.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #bc5090;
  color: #fff;
  font-weight: bold;
}

.description {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}